.hero {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/images/cover.jpeg';//'https://unsplash.imgix.net/photo-1416838375725-e834a83f62b7?q=75&fm=jpg&s=fc628c231023b391f54f10f92b859a0c';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  margin-bottom: -2em;
  height: 100vh;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    position: relative;
    top: 0em;
    padding: 3.5em 1em 2em;
    text-align: center;
    height: 100vh;
    @include media($large-screen) {
      top: 2em;
      height: auto;
      padding: 3.5em;
    }

    .hero-copy {
      text-align: center;
      margin-bottom: 2em;
      h1 {
        font-family: "Fira Mono";
        font-size: 1.6em;
       
        text-shadow: 0 0 25px rgba($brand-black ,0.8);

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      .cd-headline.rotate-1 .cd-words-wrapper {
        display: inline-block;
        perspective: 300px;
      }

      .cd-headline.rotate-1 b {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: rotateX(180deg);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
      }
       
      .cd-headline.rotate-1 b.is-visible {
        position: relative;
        opacity: 1;
        transform: rotateX(0deg);
        animation: cd-rotate-1-in 1.2s;
      }
       
      .cd-headline.rotate-1 b.is-hidden {
        transform: rotateX(180deg);
        animation: cd-rotate-1-out 1.2s;
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}

@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
 
@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
