.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
}

.card {
  ///////////////////////////////////////////////////////////////////////////////////
  $large-screen: em(860) !default;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-stats-color: lighten($base-accent-color, 10%);
  $card-padding-for-absolute-stats: 1.75em;
  $card-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  // cursor: pointer;
  margin: ($base-spacing/2) $card-margin ($base-spacing/2) $card-margin;
  padding-bottom: $card-padding-for-absolute-stats;
  position: relative;

  @include media($large-screen) {
    @include flex-grow(0);
    margin: 0 $card-margin $base-spacing $card-margin;
  }

  .card-image {
    overflow: hidden;
    max-height: 350px;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }

    .flex-container {
      opacity: 1;
      @include media($large-screen) {
        opacity: 0;
        transition: opacity 0.25s;
      }
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: center;
      position: absolute;
      top: 0;
    }
    .flex-container li {
      // opacity: 0;
      list-style: none;
      flex-grow: 0;
      height: 50px;
      width: 50px;
      border: 0px;
      border-radius: 50px;
      margin: 10px 5px;
    }
    .twitter {
      background-color: #55acee;
      order: 5;
    }
    .twitter:hover {
      background-color: #6fb9f1;
    }
    .facebook {
      background-color: #3b5998;
      order: 3;
    }
    .facebook:hover {
      background-color: #4365ad;
    }
    .linkedin {
      background-color: #0976b4;
      order: 1;
    }
    .linkedin:hover {
      background-color: #0a89d1;
    }

    .twitter, 
    .facebook,
    .linkedin,
    .twitter:hover, 
    .facebook:hover, 
    .linkedin:hover {
      transition: background-color .3s ease;
    }
    .flex-container a {
      display: block;
      line-height: 50px;
      font-size: 12px;
      color: white;
      padding: 0;
      text-decoration: none;
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
    .flex-container i {
      color: #fff;
      line-height: 100px;
      width: 100%;
      text-align: center;
    }


    // a.save-button {
    //   @include button(flat, $base-accent-color);
    //   opacity: 1;
    //   transition: opacity 0.25s;
    //   @include media($large-screen) {
    //     opacity: 0;
    //   }
    // }
    &:hover .flex-container {
      transition: opacity 0.5s;
      opacity: 1;
    }
  }

  .ribbon-wrapper {
    $ribbon-background: $base-accent-color;
    $ribbon-size: 85px;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;

    .ribbon {
      @include transform(rotate(45deg));
      background-color: $ribbon-background;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      color: white;
      font-size: 0.8em;
      font-weight: 800;
      left: -5px;
      line-height: 1.5em;
      padding: 2px 7px;
      position: relative;
      text-align: center;
      top: 15px;
      width: 120px;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    text-transform: capitalize;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2) ($base-spacing) ($base-spacing / 2);
    text-transform: capitalize;

    p {
      color: $base-font-color;
      margin: 0 0 ($base-spacing / 2);
    }
  }

  .card-stats {
    @include align-self(flex-end);
    bottom: 0.5em;
    overflow: auto;
    padding: 0 ($base-spacing / 2);
    position: absolute;

    ul {
      padding: 0;
    }

    li {
      border-right: 1px solid transparentize($base-font-color, 0.8);
      color: $brand-black;
      display: inline;
      float: left;
      font-size: 1em;
      font-weight: 800;
      line-height: 1em;
      padding: 0 0.7em;

      &:first-child {
        color: $card-stats-color;
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      a {
        @include button(flat, $base-accent-color);
        // display: inline;
        // float: right;
        font-size: 0.8em;
        margin-top: -1.25em;
        padding: 0.25em 0.5em 0.1em;
        // text-transform: uppercase;
      }

      span {
        color: $base-font-color;
        display: block;
        font-size: 0.7em;
        font-weight: normal;
      }
    }
  }
  
  &:focus,
  &:hover {
    background-color: $card-hover-background;
    
    .card-image img {
      background: $card-image-hover-background;
    }
  
    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
