section.row {
  $large-screen: em(860) !default;
  @include outer-container;
  margin-top: 0em;
  @include media($large-screen) {
    margin-top: 2em;
  }

  &.no-top-margin {
    margin-top: 0em;
  }

  &.mobile-padding {
    padding: 1em;
    @include media($large-screen) {
      padding: 0;
    }
  }

  &.touch-footer {
    margin-bottom: -2em;
  }
}

.title {
  background-color: white;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  @include media($large-screen) {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  section.row {
    margin-top: 0em;
    color: $brand-black;
    h1 {
      font-family: "Damion";
      font-weight: 300;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.25em;
      @include media($large-screen) {
        font-size: $base-font-size * 2.25;
      }
    }
    .table {
      display: table;   /* Allow the centering to work */
      margin: 1em auto 0 auto;

      ul.featured-categories {

        li {
          display: inline;
          padding-right: 1em;
          text-transform: capitalize;
          &:last-child {
            padding-right: 0;
          }
          a {
            color: $brand-black;

            &:hover {
              color: darken($brand-black, 20);
            }
          }
          
        }
      }
    }
  }
}

.side-image {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  // background: $side-image-content-background;
  margin-bottom: -2em;
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  background-color: $side-image-content-background;
  
  @include media($large-screen) {
  //   @include row(table);
  //   margin-top: 3em;
    margin-bottom: 3em;
  }

  .images-wrapper {
    // @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-content-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 200px;
  }

  .side-image-content {
    padding: 1em 1em 4em 1em;
    background: $side-image-content-background;

    flex-grow: 8;
    flex-shrink: 0;
    flex-basis: 200px;
    @include media($large-screen) {
      padding: 4em 4em 8em 4em;
    }


    h5 {
      margin-bottom: 1em;
      text-transform: capitalize;
    }

    h4 {
      background: $base-accent-color;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 800;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    h3 {
      color: $brand-black;
      margin-bottom: 1em;
    }

    a.buy-button {
      @include button(flat, $base-accent-color);
      // padding: 0.7em 1em;
      margin-bottom: 1em;
    }

    ul.additional-images {
      overflow-x: scroll;
      li {
        display: inline-block;
        img.thumb {
          height: 50px;
          border: 1px solid #aaa;
          margin-right: 0.5em;
          &.current {
            -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.5 );
            -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.5 );
            box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.5 );
          }
        }
      }
    }
    

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
      margin-bottom: 1.5em;
    }
  }

  @include reset-display();
}
