.search-tools {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  ol {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $base-spacing / 4;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10%);

  @include clearfix;
  // background: $search-tools-background;
  // border-radius: $base-border-radius;
  // border: 1px solid $search-tools-border-color;
  padding: $gutter / 2;

  display: none;
  @include media($large-screen) {
    display: block;
  }

  .filter {
    margin-bottom: 1em;
    // width: 100%;
    // float: right;
    @include media($large-screen) {
      margin-bottom: 0;
      float: left;
      margin-right: 1em;
    }

    &:last-child  {
      @include media($large-screen) {
        float:right; margin-right: 0em;
      }
      label {
        @include media($large-screen) {
          text-align: right;
        }
      }
    }

    .selectize-control {
      min-width: 110px;

      .selectize-input {
        padding-right: 2em;
      }
    }
    
  }
}

button.show-filters {

  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
  @include media($large-screen) {
    display: none;
  }
}

button.hide-filters {
  width: 100%;
}
