<section class="row">
  <div class="cards" ng-controller="ProductsController as products" infinite-scroll="products.nextPage(products.products)" infinite-scroll-distance="1" infinite-scroll-immediate-check='{{ products.products.scrollActive() }}'>
    <div class="card" ng-repeat="product in products.products.getProducts() track by $index" >
      <!-- <div class="action-buttons">
          <div class="save-button-container">
            <a class="save-button" ng-click="products.addToWishlist(product)"><span ng-show="!products.checkIfWishedFor(product.id)">Info</span><span ng-show="products.checkIfWishedFor(product.id)">Info</span></a>
          </div>
          <div class="buy-button-container">
            <a class="buy-button" ng-click="products.addToWishlist(product)">Info</a>
          </div>
          <div class="info-button-container">
            <a class="info-button" ng-click="products.addToWishlist(product)">Info</a>
          </div>
        </div> -->
      <div class="card-image">

        <a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">
          <img ng-src="{{product.image_url}}" alt="{{product.name}}">
        </a>
        
        <ul class="flex-container">
          <li class="twitter"><a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">BUY</a></li>
          <li class="facebook"><a ng-click="products.addToWishlist(product)"><span ng-show="!products.checkIfWishedFor(product.id)">SAVE</span><span ng-show="products.checkIfWishedFor(product.id)">SAVED</span></a></li>
          <li class="linkedin"><a ui-sref="productDetail({productID: product.id, slug: product.slug})">INFO</a></li>
        </ul>
        
      </div>
      <div class="card-header">
        {{ product.brand_name }}
      </div>
      <div class="card-copy">
        <a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">
          <p ng-bind-html="product.name"></p>
        </a>
      </div>
      <div class="card-stats">
        <ul>
          <li>{{ product.display_price | currency : '£' }}<span>Sale Price</span></li>
          <li>{{ product.rrp | currency : '£' }}<span>RRP</span></li>
          <li>{{( 1 - (product.display_price / product.rrp))  * 100 | number:0 }}%<span>OFF</span></li>
        </ul>
      </div>
    </div>
    <div class="card" ng-show="products.products.currentlySearching()">
      <div class="spinner">
        <img src="http://d29a1j0u6wal4v.cloudfront.net/images/fmflogowhite.png"></img>
      </div>
    </div>
  </div>
</section>