<div>
  <div class="expander" ng-controller="ToggleController">
    <a href="javascript:void(0)" ng-class="{'expander-hidden': !open}" class="expander-trigger" ng-click="toggle()">Description</a>
    <div class="expander-content">
      <p>{{product.description}}</p>
    </div>
  </div>
  <div class="expander" ng-controller="ToggleController">
    <a href="javascript:void(0)" ng-class="{'expander-hidden': !open}" class="expander-trigger" ng-click="toggle()">Delivery</a>
    <div class="expander-content">
      <p>{{storeDetails.delivery_copy}}</p>
    </div>
  </div>
  <div class="expander" ng-controller="ToggleController">
    <a href="javascript:void(0)" ng-class="{'expander-hidden': !open}" class="expander-trigger" ng-click="toggle()">Returns</a>
    <div class="expander-content">
      <p>{{storeDetails.returns_copy}}</p>
    </div>
  </div>
</div>