<div class="title">
  <section class="row">
    <h1>About</h1>
  </section>
</div>

<section class="row mobile-padding">
  <p>The Search the Sales team are on a mission to make looking fashionable affordable for everyone. We offer style savvy shoppers a way to browse the top online fashion stores and brands for the best prices in one go. You can also receive emails with all price changes for the the items you have in your wishlist, to make sure you never miss out on a bargain.</p>

  <p>If you need any help we can also be contacted by email at <a href="mailto:customercare@searchthesales.com">customercare@searchthesales.com</a></p>
</section>