<section class="row">
  <div class="small-6 columns">
    <h2>About Us</h2>
    
    <p>The FetchMyFashion team are on a mission to make a personal shopping concierge affordable for everyone.

We offer style savvy, time-poor shoppers a way to browse their favourite stores and brands in one place, and deliver items the same day that they are ordered (in a 1 hour time window of choice). We do this using clever technology to discover what products are available in local fashion stores, and then use our local courier network to pick up and deliver any items.

Oh, and we also collect and return any items you don’t like at a time that suits you at no extra cost. It’s all part of our service.

We’re currently delivering to addresses in London, but will be expanding to more areas soon.</p>
  </div>
</section>