<div class="title">
  <section class="row">
    <h1>Customer Care</h1>
  </section>
</div>
<section class="row mobile-padding">

    <p>
    Our customer service team is available 24 hours a day, seven days a week.<br><br>

    Get in touch for help with…<br><br>

    Product descriptions<br>
    Size and fit advice<br>
    Delivery/order questions<br>
    Returns<br>
    Orders<br>
    … And anything else you may need.<br><br>

    Call 0800 808 5708<br><br>

    Email <a href="mailto:customercare@fetchmyfashion.com">customercare@fetchmyfashion.com</a></p>

</section>