<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}} 
</div>
<form ng-submit="handleUpdateAccountBtnClick()" role="form" ng-init="updateAccountForm = user">
  <div class="form-group">
    <label>Name</label>
    <div class="alert alert-danger" role="alert" ng-show="nameError">
      {{nameError}} 
    </div>
    <input type="text" name="text" ng-model="updateAccountForm.name">
  </div>
  <div class="form-group">
    <label>Email</label>  
    <div class="alert alert-danger" role="alert" ng-show="emailError">
      {{emailError}} 
    </div>
    <input type="text" name="text" ng-model="updateAccountForm.email">
  </div>
  <button type="submit">Save Changes</button>
</form>