<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}} 
</div>
<form ng-submit="handleUpdatePasswordBtnClick()" role="form" ng-init="changePasswordForm = {}" novalidate>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>New Password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required"/>
  </div>

  <button type="submit">Change your password</button>
</form>