<section class="row">
  <div class="side-image">
    <div class="images-wrapper" ng-style="{'background-image':'url('+ currentImg +')'}"></div>
    <div class="side-image-content">
      <a ui-sref="brandView({brandId: product.brand_slug, id: product.brand_id})">
        <h4>{{product.brand_name}}</h4>
      </a>
      <h5>{{product.name}}</h5>
      <h3>{{ product.display_price | currency : '£' }}</h3>
      <ul class="additional-images"><li ng-repeat="img in product.image_urls">
        <img class="thumb" ng-src="{{img}}" ng-click="setProductImg(img)" ng-class="{current: currentImg === img}"></img>
      </li></ul>
      

      <a class="buy-button" ng-href="{{product.url}}" target="_blank" ng-click="sendEvent()">Buy</a>
      <a class="buy-button" ng-click="addToWishlist(product)"><span ng-show="!checkIfWishedFor()">Save</span><span ng-show="checkIfWishedFor()">Saved</span></a>
      <div ng-product-details></div>
    </div>
  </div>  
</section>
  

