<section class="row">
  <div class="side-image">
    <div class="images-wrapper" ng-style="{'background-image':'url('+ product.large_image_url +')'}"></div>
    <div class="side-image-content">
      <h4>{{product.brand_name}}</h4>
      <h1>{{product.name}}</h1>
      <p>{{ product.display_price | currency : '£' }}</p>
      <div ng-size-dropdown></div>
      <div ng-product-details></div>
      <a class="button buy-button" target="_blank" ng-href="{{product.url}}">Buy</a> 
    </div>
  </div>  
</section>
  

