<div class="title">
  <section class="row">
    <h1>Your Saved Products</h1>
  </section>
</div>

<section class="row">
  <div class="cards">
    <div class="card" ng-repeat="product in wishlist.listProducts() track by $index" >
      <div class="card-image">
        <a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">
          <img ng-src="{{product.image_url}}" alt="">
        </a>
        <ul class="flex-container">
          <li class="twitter"><a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">BUY</a></li>
          <li class="facebook"><a ng-click="products.addToWishlist(product)"><span ng-show="!products.checkIfWishedFor(product.id)">SAVE</span><span ng-show="products.checkIfWishedFor(product.id)">SAVED</span></a></li>
          <li class="linkedin"><a ui-sref="productDetail({productID: product.id, slug: product.slug})">INFO</a></li>
        </ul>
      </div>

      <div class="card-header">
        {{ product.brand_name }}
      </div>
      <div class="card-copy">
        <a ng-href="{{product.url}}" target="_blank" ng-click="sendEvent(product)">
          <p ng-bind-html="product.name"></p>
        </a>
      </div>
      <div class="card-stats">
        <ul>
          <li>{{ product.display_price | currency : '£' }}</li>
          <!-- <li>923<span>Objects</span></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>