<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}} 
</div>
<form ng-submit="buttonClick()" role="form" name="registration" ng-init="registrationForm = {}" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" ng-model="registrationForm.name" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
    <p ng-show="registration.email.$invalid && !registration.email.$pristine && submitted">Enter a valid Email.</p>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" ng-minlength="8" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
    <p ng-show="registration.password.$error.minlength && submitted">Password is too short.</p>
  </div>

  <div class="form-group">
    <label>Password confirmation</label>
    <input type="password" ng-minlength="8" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
    <p ng-show="registration.password_confirmation.$error.minlength && submitted">Password is too short.</p>
  </div>

  <div class="form-group" ng-show="false">
    <input type="text" name="search_the_sales" ng-model="registrationForm.search_the_sales" required="required" class="form-control" value="true" ng-init="registrationForm.search_the_sales='true'"/>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>