<div class="title">
  <section class="row">
    <h1>Trends</h1>
  </section>
</div>
<section class="row">
  <div class="cards">
    
      <div class="card" ng-repeat="trend in trends.list()">
        <div class="card-image">
          <a ui-sref="trendView({slug: trend.slug})" >
            <img ng-src="{{trend.image_url}}" alt="">
          </a>
        </div>
        <div class="card-header">
          <a ui-sref="trendView({slug: trend.slug})" >
            <p>{{ trend.title }}</p>
          </a>
        </div>
        <div class="card-copy">
          <a ui-sref="trendView({slug: trend.slug})" >
            <p>{{ trend.copy }}</p>
          </a>
        </div>
      </div>
    </a>
  </div>
</section>