@import url(https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono);
@import "modules/_colors";
@import "normalize";
@import "bourbon/_bourbon";
@import "base/_grid-settings";
@import "neat/_neat";
@import "base/_base";
@import "modules/_utility";
@import "modules/_nav";
@import "modules/_hero";
@import "modules/_footer";
@import "modules/_products";
@import "modules/_product-detail";
@import "modules/_dropdown";
@import "modules/_expandables";
@import "modules/_search-bar";
@import "modules/_search-tools";
@import "modules/_account";
@import "modules/_basket";
@import "modules/_mobile_cat_nav";
@import "modules/_spinner";
@import "modules/_tooltips";
@import "modules/_brands";
@import "modules/_modal";
// @import "modules/_callouts";

$large-screen: em(860) !default;


#main-view {
  padding-top: 120px;
  @include media($large-screen) {
    padding-top: 60px;
  }
}