// @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Oswald:400,700);
@import "modules/_colors";
@import "normalize";
@import "bourbon/_bourbon";
@import "base/_grid-settings";
@import "neat/_neat";
@import "base/_base";
@import "modules/_utility";
@import "modules/_nav";
@import "modules/_hero";
@import "modules/_footer";
@import "modules/_products";
@import "modules/_product-detail";
@import "modules/_dropdown";
@import "modules/_expandables";
@import "modules/_search-bar";
@import "modules/_search-tools";
@import "modules/_account";
@import "modules/_basket";
// @import "modules/_callouts";

$large-screen: em(860) !default;

body {
  padding-top: 120px;
  @include media($large-screen) {
    padding-top: 60px;
  }
}